---
import MainLayout from "../layouts/MainLayout.astro";
import SearchForm from "../components/SearchForm.astro";
import ArticleCard from "../components/ArticleCard.astro";
import MostRecentArticle from "../components/MostRecentArticle.astro";
import { HOMEPAGE_ARTICLE_LIMIT } from "../constants";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";


const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort((a:CollectionEntry<'blog'>, b:CollectionEntry<'blog'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const mostRecentArticle: CollectionEntry<'blog'> = allBlogArticles[0];

const otherArticles: CollectionEntry<'blog'>[] = allBlogArticles.slice(1);
---

<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-74K2BBBYEN"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-74K2BBBYEN');
      </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <MainLayout>
    <!-- Top Grid -->
    <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
      <div>
        <h1 class="text-3xl font-bold mt-4 mb-8 leading-tight xl:text-4xl">
          ¿Qué programa estás buscando? Son versiones gratuitas.
        </h1>
  
        <SearchForm />
      </div>
      <MostRecentArticle article={mostRecentArticle} />
    </div>
  
    <!-- Main Grid -->
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
      {otherArticles.slice(0, HOMEPAGE_ARTICLE_LIMIT).map(article => (
        <ArticleCard article={article} />
      ))}
    </div>
  </MainLayout>
  
</body>
</html>


    
