---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import about from "../images/about.jpg";


---

<MainLayout title="Somos un equipo">
    <h1 class="text-2xl font-bold mb-5"></h1>
      <div class="w-full md:w-1/1">

          <p class="text-gray-800 leading-relaxed mb-8 font-bold">
            La razón de la creación de MIUNAM</p>
          <p class="text-gray-700 leading-relaxed mb-4">
            En la era moderna, la creación de valor se ha vuelto cada vez más dependiente de la tecnología informática. Sin embargo, en México aún persiste una brecha digital significativa, con muchos ciudadanos que no utilizan las computadoras de manera efectiva. Este problema se agrava aún más dadas las circunstancias específicas del país. Las causas son variadas, desde especificaciones técnicas insuficientes en las computadoras hasta la falta de conocimiento sobre cómo utilizar eficazmente el software disponible, ya sea de pago o gratuito. Además, la limitación en los lugares donde se puede adquirir este conocimiento es un desafío adicional, especialmente en un país tan vasto y diverso como México. </p>
            <br />
            <p class="text-gray-700 leading-relaxed mb-4">
            El uso inadecuado de la tecnología en México resulta en una disminución de la productividad y el valor agregado, exacerbando las desigualdades económicas y tecnológicas existentes en el país. En respuesta a esta problemática, MIUNAM nace con el propósito de abordar específicamente las necesidades y desafíos del contexto mexicano. Nos dedicamos a enseñar el uso correcto del software y a difundir las últimas tendencias en tecnología de la información, con un enfoque en cómo estas pueden beneficiar a la sociedad mexicana.</p>
            <br />
            <p class="text-gray-700 leading-relaxed mb-4">
            Nuestro principal objetivo en México es que todos los ciudadanos utilicen las computadoras de manera efectiva, mejorando así sus habilidades y eficiencia en el trabajo individual, y contribuyan al desarrollo del país a través de la creación de un alto valor agregado. Esta es nuestra misión más urgente, dada la singularidad de las circunstancias mexicanas.</p>
         
         
      </div>


  
</MainLayout>