---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Somos un equipo">

    <!-- sistema escolarizado -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                SISTEMA ESCOLARIZADO
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Más información: <a href="https://youtu.be/OzGs5zjzrqs" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">2023 Resultados Licenciatura UNAM</a></p>
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Carreras
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Aciertos Mínimos
                    </th>
                </tr>
            </thead>
            <tbody>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
MEDICO CIRUJANO - FACULTAD DE MEDICINAEDICO CIRUJANO - FACULTAD DE MEDICINA
</th>
<td class="px-6 py-4">
111
</td>
</tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ADMINISTRACION - FACULTAD DE CONTADURÍA Y ADMINISTRACIÓN
</th>
<td class="px-6 py-4">
88
</td>
</tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DERECHO - FACULTAD DE DERECHO
</th>
<td class="px-6 py-4">
85
</td>
</tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
MEDICO CIRUJANO - FES IZTACALA
</th>
<td class="px-6 py-4">
108
</td>
</tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CONTADURIA - FACULTAD DE CONTADURÍA Y ADMINISTRACIÓN</th><td class="px-6 py-4">
84</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ARQUITECTURA - FACULTAD DE ARQUITECTURA</th><td class="px-6 py-4">
90</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
MEDICO CIRUJANO - FES ZARAGOZA</th><td class="px-6 py-4">
109</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PSICOLOGIA - FACULTAD DE PSICOLOGÍA</th><td class="px-6 py-4">
104</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
MEDICIVETERINARIA Y ZOOTECNIA - FACULTAD DE MEDICIVETERINARIA Y ZOOTECNIA</th><td class="px-6 py-4">
103</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DERECHO - FES ARAGÓN</th><td class="px-6 py-4">
67</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ENFERMERIA - FES ZARAGOZA</th><td class="px-6 py-4">
83</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PSICOLOGIA - FES ZARAGOZA</th><td class="px-6 py-4">
89</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA EN COMPUTACION - FACULTAD DE INGENIERÍA</th><td class="px-6 py-4">
97</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIRUJANO DENTISTA - FACULTAD DE ODONTOLOGÍA</th><td class="px-6 py-4">
96</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PSICOLOGIA - FES IZTACALA</th><td class="px-6 py-4">
91</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIRUJANO DENTISTA - FES IZTACALA</th><td class="px-6 py-4">
86</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ENFERMERIA Y OBSTETRICIA - FACULTAD DE ENFERMERIA Y OBSTETRICIA</th><td class="px-6 py-4">
87</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIRUJANO DENTISTA - FES ZARAGOZA</th><td class="px-6 py-4">
88</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ARTES VISUALES - FACULTAD DE ARTES Y DISEÑO</th><td class="px-6 py-4">
99</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DISEÑO GRAFICO - FES ACATLÁN</th><td class="px-6 py-4">
98</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ENFERMERIA - FES IZTACALA</th><td class="px-6 py-4">
82</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
MEDICIVETERINARIA Y ZOOTECNIA - FES CUAUTITLÁN</th><td class="px-6 py-4">
92</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DERECHO - FES ACATLÁN</th><td class="px-6 py-4">
62</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PEDAGOGIA - FES ARAGÓN</th><td class="px-6 py-4">
72</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
QUIMICA FARMACEUTICO BIOLOGICA - FACULTAD DE QUÍMICA</th><td class="px-6 py-4">
105</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
NUTRIOLOGIA - FES ZARAGOZA</th><td class="px-6 py-4">
95</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PEDAGOGIA - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
75</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ARQUITECTURA - FES ARAGÓN</th><td class="px-6 py-4">
78</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DISEÑO Y COMUNICACION VISUAL - FACULTAD DE ARTES Y DISEÑO</th><td class="px-6 py-4">
102</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA EN COMPUTACION - FES ARAGÓN</th><td class="px-6 py-4">
85</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA MECANICA - FACULTAD DE INGENIERÍA</th><td class="px-6 py-4">
99</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ENFERMERIA - FACULTAD DE ENFERMERIA Y OBSTETRICIA</th><td class="px-6 py-4">
80</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ARQUITECTURA - FES ACATLÁN</th><td class="px-6 py-4">
78</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS DE LA COMUNICACION - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
94</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
QUIMICA FARMACEUTICO BIOLOGICA - FES ZARAGOZA</th><td class="px-6 py-4">
99</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
BIOLOGIA - FACULTAD DE CIENCIAS</th><td class="px-6 py-4">
95</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ECONOMIA - FACULTAD DE ECONOMÍA</th><td class="px-6 py-4">
68</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
RELACIONES INTERNACIONALES - FES ARAGÓN</th><td class="px-6 py-4">
86</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA CIVIL - FACULTAD DE INGENIERÍA</th><td class="px-6 py-4">
82</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PEDAGOGIA - FES ACATLÁN</th><td class="px-6 py-4">
73</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ADMINISTRACION - FES CUAUTITLÁN</th><td class="px-6 py-4">
59</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA ELECTRICA ELECTRONICA - FACULTAD DE INGENIERÍA</th><td class="px-6 py-4">
89</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
RELACIONES INTERNACIONALES - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
101</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA AEROESPACIAL - FACULTAD DE INGENIERÍA</th><td class="px-6 py-4">
111</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS DE LA COMPUTACION - FACULTAD DE CIENCIAS</th><td class="px-6 py-4">
105</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
COMUNICACION Y PERIODISMO - FES ARAGÓN</th><td class="px-6 py-4">
63</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
TRABAJO SOCIAL - ESCUELA NACIONAL DE TRABAJO SOCIAL</th><td class="px-6 py-4">
47</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CONTADURIA - FES CUAUTITLÁN</th><td class="px-6 py-4">
57</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
FISICA - FACULTAD DE CIENCIAS</th><td class="px-6 py-4">
105</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA INDUSTRIAL - FACULTAD DE INGENIERÍA</th><td class="px-6 py-4">
89</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ACTUARIA - FACULTAD DE CIENCIAS</th><td class="px-6 py-4">
101</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA CIVIL - FES ARAGÓN</th><td class="px-6 py-4">
66</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ODONTOLOGIA - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD LEÓN</th><td class="px-6 py-4">
73</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
TEATRO Y ACTUACION - FACULTAD DE MÚSICA</th><td class="px-6 py-4">
69</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
BIOLOGIA - FES ZARAGOZA</th><td class="px-6 py-4">
79</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
RELACIONES INTERNACIONALES - FES ACATLÁN</th><td class="px-6 py-4">
81</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
TRADUCCION - ESCUELA NACIONAL DE LENGUAS, LINGÜÍSTICA Y TRADUCCIÓN</th><td class="px-6 py-4">
110</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS POLITICAS Y ADMON PUBLICA - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
88</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA MECANICA - FES ARAGÓN</th><td class="px-6 py-4">
82</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
BIOLOGIA - FES IZTACALA</th><td class="px-6 py-4">
69</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DISEÑO INDUSTRIAL - FES ARAGÓN</th><td class="px-6 py-4">
86</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DISEÑO Y COMUNICACION VISUAL - FES CUAUTITLÁN</th><td class="px-6 py-4">
95</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
COMUNICACION - FES ACATLÁN</th><td class="px-6 py-4">
70</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA CIVIL - FES ACATLÁN</th><td class="px-6 py-4">
64</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
QUIMICA DE ALIMENTOS - FACULTAD DE QUÍMICA</th><td class="px-6 py-4">
94</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA MECANICA ELECTRICA - FES CUAUTITLÁN</th><td class="px-6 py-4">
60</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ING. EN TELECOMUNICACIONES, SISTEMAS Y ELECTRONICA - FES CUAUTITLÁN</th><td class="px-6 py-4">
57</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA ELECTRICA ELECTRONICA - FES ARAGÓN</th><td class="px-6 py-4">
74</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ECONOMIA - FES ARAGÓN</th><td class="px-6 py-4">
63</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA INDUSTRIAL - FES ARAGÓN</th><td class="px-6 py-4">
74</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA QUIMICA - FACULTAD DE QUÍMICA</th><td class="px-6 py-4">
94</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA PETROLERA - FACULTAD DE INGENIERÍA</th><td class="px-6 py-4">
59</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ACTUARIA - FES ACATLÁN</th><td class="px-6 py-4">
87</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
BIOQUIMICA DIAGNOSTICA - FES CUAUTITLÁN</th><td class="px-6 py-4">
89</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ECONOMIA - FES ACATLÁN</th><td class="px-6 py-4">
60</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA QUIMICA - FES ZARAGOZA</th><td class="px-6 py-4">
53</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
FISIOTERAPIA - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD LEÓN</th><td class="px-6 py-4">
62</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA EN ALIMENTOS - FES CUAUTITLÁN</th><td class="px-6 py-4">
57</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA INDUSTRIAL - FES CUAUTITLÁN</th><td class="px-6 py-4">
68</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
MATEMATICAS APLICADAS Y COMPUTACION - FES ACATLÁN</th><td class="px-6 py-4">
45</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
MATEMATICAS - FACULTAD DE CIENCIAS</th><td class="px-6 py-4">
77</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LITERATURA DRAMATICA Y TEATRO - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
95</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
FILOSOFIA - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
85</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
QUIMICA - FACULTAD DE QUÍMICA</th><td class="px-6 py-4">
101</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS POLITICAS Y ADMON PUBLICA - FES ACATLÁN</th><td class="px-6 py-4">
56</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INFORMATICA - FES CUAUTITLÁN</th><td class="px-6 py-4">
64</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
HISTORIA - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
80</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ANTROPOLOGIA - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
76</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ARQUITECTURA DE PAISAJE - FACULTAD DE ARQUITECTURA</th><td class="px-6 py-4">
76</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
FISICA BIOMEDICA - FACULTAD DE CIENCIAS</th><td class="px-6 py-4">
101</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA AGRICOLA - FES CUAUTITLÁN</th><td class="px-6 py-4">
60</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
OPTOMETRIA - FES IZTACALA</th><td class="px-6 py-4">
75</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ENSEÑANZA DE INGLES - FES ACATLÁN</th><td class="px-6 py-4">
50</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
SOCIOLOGIA - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
73</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA AMBIENTAL - FACULTAD DE INGENIERÍA</th><td class="px-6 py-4">
95</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
FARMACIA - FES CUAUTITLÁN</th><td class="px-6 py-4">
67</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
SOCIOLOGIA - FES ACATLÁN</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA QUIMICA - FES CUAUTITLÁN</th><td class="px-6 py-4">
56</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LENGUA Y LITERATURAS HISPANICAS - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
78</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
QUIMICA INDUSTRIAL - FES CUAUTITLÁN</th><td class="px-6 py-4">
53</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
SOCIOLOGIA - FES ARAGÓN</th><td class="px-6 py-4">
46</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS DE LA TIERRA - ESCUELA NACIONAL DE CIENCIAS DE LA TIERRA</th><td class="px-6 py-4">
84</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
MATEMATICAS APLICADAS - FACULTAD DE CIENCIAS</th><td class="px-6 py-4">
93</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
GEOGRAFIA - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
49</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ARTE Y DISEÑO - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
69</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
QUIMICA - FES CUAUTITLÁN</th><td class="px-6 py-4">
71</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LINGÜISTICA APLICADA - ESCUELA NACIONAL DE LENGUAS, LINGÜÍSTICA Y TRADUCCIÓN</th><td class="px-6 py-4">
69</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
HISTORIA - FES ACATLÁN</th><td class="px-6 py-4">
54</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ARTE Y DISEÑO - PLANTEL TAXCO, GRO</th><td class="px-6 py-4">
59</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA DE MINAS Y METALURGIA - FACULTAD DE INGENIERÍA</th><td class="px-6 py-4">
72</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LENGUA Y LITERATURAS MODERNAS (LETRAS INGLESAS) - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ECOLOGIA - FES IZTACALA</th><td class="px-6 py-4">
70</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
FILOSOFIA - FES ACATLÁN</th><td class="px-6 py-4">
43</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ECONOMIA INDUSTRIAL - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD LEÓN</th><td class="px-6 py-4">
66</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA GEOFISICA - FACULTAD DE INGENIERÍA</th><td class="px-6 py-4">
61</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PLANIF PARA EL DESARROLLO AGROPECUARIO - FES ARAGÓN</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA QUIMICA METALURGICA - FACULTAD DE QUÍMICA</th><td class="px-6 py-4">
80</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
TURISMO Y DESARROLLO SOSTENIBLE - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD LEÓN</th><td class="px-6 py-4">
59</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
BIBLIOTECOLOGIA Y ESTUDIOS DE LA INFORMACION - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
43</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA GEOLOGICA - FACULTAD DE INGENIERÍA</th><td class="px-6 py-4">
70</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ADMINISTRACION DE ARCHIVOS Y GESTION DOCUMENTAL - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
61</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INSTRUMENTISTA - FACULTAD DE MÚSICA</th><td class="px-6 py-4">
41</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
URBANISMO - FACULTAD DE ARQUITECTURA</th><td class="px-6 py-4">
78</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ESTUDIOS LATINOAMERICANOS - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
COMPOSICION - FACULTAD DE MÚSICA</th><td class="px-6 py-4">
56</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DESARROLLO Y GESTION INTERCULTURALES - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
78</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ENFERMERIA - TLAXCALA</th><td class="px-6 py-4">
50</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LETRAS CLASICAS - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
78</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
INGENIERIA GEOMATICA - FACULTAD DE INGENIERÍA</th><td class="px-6 py-4">
55</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LENGUA Y LITERATURAS HISPANICAS - FES ACATLÁN</th><td class="px-6 py-4">
48</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CANTO - FACULTAD DE MÚSICA</th><td class="px-6 py-4">
45</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
OPTOMETRIA - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD LEÓN</th><td class="px-6 py-4">
41</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
TRADUCCION - SAN MIGUEL DE ALLENDE, GUANAJUATO</th><td class="px-6 py-4">
42</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
EDUCACION MUSICAL - FACULTAD DE MÚSICA</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS DE LA TIERRA - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD JURIQUILLA</th><td class="px-6 py-4">
57</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS AMBIENTALES - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
43</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PSICOLOGIA - TLAXCALA</th><td class="px-6 py-4">
55</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DESARROLLO COMUNITARIO PARA EL ENVEJECIMIENTO - FES ZARAGOZA</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
MANEJO SUSTENTABLE DE ZONAS COSTERAS - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MÉRIDA</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ADMINISTRACION - OAXACA</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
MUSICA Y TECNOLOGIA ARTISTICA - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
42</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS AMBIENTALES - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MÉRIDA</th><td class="px-6 py-4">
45</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
GEOGRAFIA APLICADA - ESCUELA NACIONAL DE CIENCIAS DE LA TIERRA</th><td class="px-6 py-4">
48</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
TECNOLOGIAS PARA LA INFORMACION EN CIENCIAS - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
43</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ADMINISTRACION AGROPECUARIA - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD LEÓN</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CONTADURIA - OAXACA</th><td class="px-6 py-4">
41</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS AGROFORESTALES - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
HISTORIA DEL ARTE - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
43</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIA DE MATERIALES SUSTENTABLES - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
43</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PIANO - FACULTAD DE MÚSICA</th><td class="px-6 py-4">
42</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LENGUA Y LITERATURAS MODERNAS (LETRAS ITALIANAS) - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
41</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS DE LA TIERRA - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MÉRIDA</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
GEOCIENCIAS - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
44</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LITERATURA INTERCULTURAL - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
BIOLOGIA - TLAXCALA</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ECOLOGIA - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
41</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DESARROLLO Y GESTION INTERCULTURALES - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MÉRIDA</th><td class="px-6 py-4">
43</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LENGUA Y LITERATURAS MODERNAS (LETRAS FRANCESAS) - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
44</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ECOLOGIA - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MÉRIDA</th><td class="px-6 py-4">
42</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LENGUA Y LITERATURAS MODERNAS (LETRAS ALEMANAS) - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
51</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DESARROLLO Y GESTION INTERCULTURALES - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD LEÓN</th><td class="px-6 py-4">
42</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ETNOMUSICOLOGIA - FACULTAD DE MÚSICA</th><td class="px-6 py-4">
50</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DESARROLLO COMUNITARIO PARA EL ENVEJECIMIENTO - TLAXCALA</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DESARROLLO TERRITORIAL - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD LEÓN</th><td class="px-6 py-4">
45</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LENGUA Y LITERATURAS MODERNAS (LETRAS PORTUGUESAS) - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
48</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ESTUDIOS SOCIALES Y GESTION LOCAL - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
54</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
GEOHISTORIA - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
56</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
GEOGRAFIA APLICADA - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MÉRIDA</th><td class="px-6 py-4">
61</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ADMINISTRACION DE ARCHIVOS Y GESTION DOCUMENTAL - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
40</td></tr>

            </tbody>
        </table>
    </div>
<br />

<!-- Abierto -->
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            SISTEMA UNIVERSIDAD ABIERTA (SUA)
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Más información: <a href="https://youtu.be/OzGs5zjzrqs" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">2023 Resultados Licenciatura UNAM</a></p>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Carreras
                </th>
                <th scope="col" class="px-6 py-3">
                    Aciertos Mínimos
                </th>
            </tr>
        </thead>
        <tbody>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PSICOLOGIA - FACULTAD DE PSICOLOGÍA</th><td class="px-6 py-4">
73</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ADMINISTRACION - FACULTAD DE CONTADURÍA Y ADMINISTRACIÓN</th><td class="px-6 py-4">
67</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS DE LA COMUNICACION - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
55</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS POLITICAS Y ADMON PUBLICA - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
52</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CONTADURIA - FACULTAD DE CONTADURÍA Y ADMINISTRACIÓN</th><td class="px-6 py-4">
72</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DERECHO - FACULTAD DE DERECHO</th><td class="px-6 py-4">
54</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DERECHO - FES ACATLÁN</th><td class="px-6 py-4">
42</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DERECHO - FES ARAGÓN</th><td class="px-6 py-4">
51</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ECONOMIA - FACULTAD DE ECONOMÍA</th><td class="px-6 py-4">
60</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ECONOMIA - FES ARAGÓN</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
GEOGRAFIA - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
58</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
RELACIONES INTERNACIONALES - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
60</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
RELACIONES INTERNACIONALES - FES ACATLÁN</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
RELACIONES INTERNACIONALES - FES ARAGÓN</th><td class="px-6 py-4">
47</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
SOCIOLOGIA - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
47</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
TRABAJO SOCIAL - ESCUELA NACIONAL DE TRABAJO SOCIAL</th><td class="px-6 py-4">
52</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
FILOSOFIA - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
75</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
HISTORIA - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
70</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LENGUA Y LITERATURAS HISPANICAS - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
45</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
LENGUA Y LITERATURAS MODERNAS (LETRAS INGLESAS) - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
56</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PEDAGOGIA - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
63</td></tr>

        </tbody>
    </table>
</div>
<br />

<!-- Sistema de Educación a Distancia (ED) -->
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            SISTEMA DE EDUCACIÓN A DISTANCIA (ED)
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Más información: <a href="https://youtu.be/OzGs5zjzrqs" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">2023 Resultados Licenciatura UNAM</a></p>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Carreras
                </th>
                <th scope="col" class="px-6 py-3">
                    Aciertos Mínimos
                </th>
            </tr>
        </thead>
        <tbody>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PSICOLOGIA - FES IZTACALA</th><td class="px-6 py-4">
63</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ADMINISTRACION - FACULTAD DE CONTADURÍA Y ADMINISTRACIÓN</th><td class="px-6 py-4">
74</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS DE LA COMUNICACION - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CIENCIAS POLITICAS Y ADMON PUBLICA - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
51</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
CONTADURIA - FACULTAD DE CONTADURÍA Y ADMINISTRACIÓN</th><td class="px-6 py-4">
77</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DERECHO - FACULTAD DE DERECHO</th><td class="px-6 py-4">
54</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ECONOMIA - FACULTAD DE ECONOMÍA</th><td class="px-6 py-4">
60</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
RELACIONES INTERNACIONALES - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
64</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
SOCIOLOGIA - FACULTAD DE CIENCIAS POLÍTICAS Y SOCIALES</th><td class="px-6 py-4">
40</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
TRABAJO SOCIAL - ESCUELA NACIONAL DE TRABAJO SOCIAL</th><td class="px-6 py-4">
47</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ADMINISTRACION DE ARCHIVOS Y GESTION DOCUMENTAL - ESCUELA NAL. DE ESTUDIOS SUP. UNIDAD MORELIA</th><td class="px-6 py-4">
41</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
BIBLIOTECOLOGIA Y ESTUDIOS DE LA INFORMACION - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
45</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
DISEÑO Y COMUNICACION VISUAL - FES CUAUTITLÁN</th><td class="px-6 py-4">
76</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ENSEÑANZA DE ALEMAN COMO LENGUA EXTRANJERA - FES ACATLÁN</th><td class="px-6 py-4">
55</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ENSEÑANZA DE ESPAÑOL COMO LENGUA EXTRANJERA - FES ACATLÁN</th><td class="px-6 py-4">
41</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ENSEÑANZA DE FRANCES COMO LENGUA EXTRANJERA - FES ACATLÁN</th><td class="px-6 py-4">
42</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ENSEÑANZA DE INGLES COMO LENGUA EXTRANJERA - FES ACATLÁN</th><td class="px-6 py-4">
46</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
ENSEÑANZA DE ITALIANO COMO LENGUA EXTRANJERA - FES ACATLÁN</th><td class="px-6 py-4">
41</td></tr>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
PEDAGOGIA - FACULTAD DE FILOSOFÍA Y LETRAS</th><td class="px-6 py-4">
59</td></tr>


        </tbody>
    </table>
</div>

</MainLayout>