


<div class="Parent">
    <div>Header</div>
<div class="flex">
    <div class="grow">Main content</div>
    <div class="flex flex-col flex-none"> 
    <div>Sidebar</div>
    <div>Menu</div>
</div>
</div>
</div>