---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { capitalize } from "../utils";

const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');

const tags: string[] = allBlogArticles.flatMap((article: any) => article.data.tags);

const uniqueTags: string[] = [...new Set(tags)];
---

<footer class="bg-gray-900 text-white">
    <div class="container mx-auto mt-10 max-w-screen-xl px-8">
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-4">
        <div class="mt-10">
          <h3 class="text-xl font-semibold mb-4">MIUNAM</h3>
          <p class="text-white text-sm">
            Nuestro objetivo es facilitar el aprendizaje de programas informáticos proporcionando recursos y herramientas accesibles.
          </p>
        </div>
        <div class="mt-10">
          <h3 class="text-xl font-semibold mb-4">Programas relacionados</h3>
          <ul class="text-white text-sm">
            {uniqueTags.map(tag => (
              <li class="mb-2">
                <a href={'/articles/tag/' + tag}>{capitalize(tag)}</a>  
              </li>
            ))}
          </ul>
        </div>
        <div class="mt-10">
          <h3 class="text-xl font-semibold mb-4">Contacto</h3>
          <ul class="text-white text-sm">
            <li class="mb-2">
              <a href="https://www.youtube.com/@miunam">Youtube: youtube.com/@miunam</a>
            </li>
            <li class="mb-2">
              <a href="https://www.notion.so/miunam">Notion: notion.so/miunam</a>
            </li>
            <li class="mb-2">
              <a href="mailto:infomiunam@gmail.com">Email: infomiunam@gmail.com</a>
            </li>
          </ul>
  </footer>